<div class="gradient-custom">
    <br />
    <div class="alert alert-dark" role="alert">
        <h1 class="text-center">ABOUT THIS WEBSITE</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">ANGULAR</h5>
                        <p class="card-text">Angular is an application design framework and development platform for
                            creating efficient and sophisticated single-page apps.
                            <br />Angular is a development platform, built on TypeScript. As a platform, Angular
                            includes:
                            <br />
                            <li>A component-based framework for building scalable web applications.</li>
                            <li>A collection of well-integrated libraries that cover a wide variety of features,
                                including routing, forms management, client-server communication, and more.</li>
                            <li>A suite of developer tools to help you develop, build, test, and update your code.</li>
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/5.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">BOOTSTRAP</h5>
                        <p class="card-text">Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. <br/> It contains CSS- and JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components.
                           <br/> Originally created by a designer and a developer at Twitter, Bootstrap has become one of the most popular front-end frameworks and open source projects in the world.
                        </p>

                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="assets/img/6.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">FIREBASE</h5>
                        <p class="card-text">
                            Firebase is a platform developed by Google for creating mobile and web applications. It was originally an independent company founded in 2011.<br/> In 2014, Google acquired the platform and it is now their flagship offering for app development.
                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</div>
<app-footer></app-footer>
